header.cabecera {
    display: flex;
    padding: 25px;
    background-color: #000;
}

header.cabecera img.logo {
    max-height: 80px;
}

header.cabecera nav {
    width: auto;
    margin-inline-start: auto;
    margin-right: 80px;
}

ul.menu {
    display: flex;
    margin-top: 28px;
}

ul.menu li {
    list-style-type: none;
    margin-right: 20px;
}

ul.menu li a {font-size: 26px;text-transform: uppercase;color: #fff;font-family: fantasy; text-decoration: none;}

ul.menu li a:hover {
    color: #5395b5;
}